@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

@import url("https://fonts.googleapis.com/css?family=Lobster");

//font size
$smaller: 0.5rem;
$small: 0.85rem;
$regular: 1rem;
$large: 1.5rem;
$larger: 1.85rem;

//colors
$primary: #007bff;
$success: green;
$error: #e75146;
$warning: darken(orange, 10%);
$info: gray;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: $root-font;
}

.clearfix {
  overflow: auto;
}

.right {
  float: right;
}

.left {
  float: left;
}

a {
  text-decoration: none;
}

.color-primary {
  color: $primary;
}

.color-error {
  color: $error;
}

.color-warning {
  color: $warning;
}

.color-info {
  color: $info;
}

.color-success {
  color: $success;
}